In [20]:
import plotly.figure_factory as ff

import numpy as np
import pandas as pd

df_sample = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/laucnty16.csv')
df_sample['State FIPS Code'] = df_sample['State FIPS Code'].apply(lambda x: str(x).zfill(2))
df_sample['County FIPS Code'] = df_sample['County FIPS Code'].apply(lambda x: str(x).zfill(3))
df_sample['FIPS'] = df_sample['State FIPS Code'] + df_sample['County FIPS Code']

In [13]:
df_sample.head()

,LAUS Code,State FIPS Code,County FIPS Code,County Name/State Abbreviation,Year,Labor Force,Employed,Unemployed,Unemployment Rate (%)
0,CN0100100000000,1,1,"Autauga County, AL",2016,"25,649","24,297","1,352",5.3
1,CN0100300000000,1,3,"Baldwin County, AL",2016,"89,931","85,061","4,870",5.4
2,CN0100500000000,1,5,"Barbour County, AL",2016,"8,302","7,584",718,8.6
3,CN0100700000000,1,7,"Bibb County, AL",2016,"8,573","8,004",569,6.6
4,CN0100900000000,1,9,"Blount County, AL",2016,"24,525","23,171","1,354",5.5

In [15]:
df_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3219 entries, 0 to 3218
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0    LAUS Code                      3219 non-null   object
 1   State FIPS Code                 3219 non-null   int64
 2   County FIPS Code                3219 non-null   int64
 3   County Name/State Abbreviation  3219 non-null   object
 4   Year                            3219 non-null   int64
 5   Labor Force                     3219 non-null   object
 6   Employed                        3219 non-null   object
 7   Unemployed                      3219 non-null   object
 8   Unemployment Rate (%)           3219 non-null   float64
dtypes: float64(1), int64(3), object(5)
memory usage: 226.5+ KB

In [21]:
df_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3219 entries, 0 to 3218
Data columns (total 10 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0    LAUS Code                      3219 non-null   object
 1   State FIPS Code                 3219 non-null   object
 2   County FIPS Code                3219 non-null   object
 3   County Name/State Abbreviation  3219 non-null   object
 4   Year                            3219 non-null   int64
 5   Labor Force                     3219 non-null   object
 6   Employed                        3219 non-null   object
 7   Unemployed                      3219 non-null   object
 8   Unemployment Rate (%)           3219 non-null   float64
 9   FIPS                            3219 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 251.6+ KB

In [22]:
df_sample.head()

,LAUS Code,State FIPS Code,County FIPS Code,County Name/State Abbreviation,Year,Labor Force,Employed,Unemployed,Unemployment Rate (%),FIPS
0,CN0100100000000,01,001,"Autauga County, AL",2016,"25,649","24,297","1,352",5.3,01001
1,CN0100300000000,01,003,"Baldwin County, AL",2016,"89,931","85,061","4,870",5.4,01003
2,CN0100500000000,01,005,"Barbour County, AL",2016,"8,302","7,584",718,8.6,01005
3,CN0100700000000,01,007,"Bibb County, AL",2016,"8,573","8,004",569,6.6,01007
4,CN0100900000000,01,009,"Blount County, AL",2016,"24,525","23,171","1,354",5.5,01009